:root {
  --primary-light: #F5F5F7;
  --primary: #86868B;
  --primary-dark: #000000;
}

html, body {
  margin: 0;
  height: 100vh;
  background-color: var(--primary-dark);
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headline {
  width: 80vw;
  font-family: 'SF Pro Display', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 8vw;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 10vw;
}
#title {
  color: var(--primary-light);
}
#subtitle {
  color: var(--primary);
}

#links {
  text-align: center;
}
#links a {
  color: var(--primary);
  font-size: 13vw;
  margin: 0 7vw;
  outline: none;
  transition: 0.2s;
}
#links a:hover {
  color: var(--primary-light);
}

@media only screen and (orientation: landscape) {
  #headline {
    font-size: 11vh;
    margin-bottom: 11vh;
  }
  #links a {
    font-size: 14vh;
    margin: 0 10vh;
  }
}

@media only screen and (min-width: 1024px) {
  #headline {
    width: 45vw;
    font-size: 3vw;
    margin-bottom: 4vw;
  }
  #links a {
    font-size: 4vw;
    margin: 0 3vw;
  }
}
